body {
  background-color: #ecf0f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
.note,
ul,
li {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 500;
}

.arch-blue {
  color: #0159a4;
}

.arch-logo {
  width: 9em;
  height: 2.96em; /* Needs a fixed height because of bug on ie 11 with height:auto */
}

table.action-table {
  border-spacing: 0px;
  border-collapse: collapse;
  border-style: solid;
  border-width: 0px 0 2px 0;
  border-color: black;
  text-align: left;
  table-layout: fixed;
  margin: auto;
  width:100%;

  margin-top: 10px;
  margin-bottom: 20px;
}

tr:first-child {
  width: 200px;
}

tr.action-table-header th {
  border-style: solid;
  border-width: 0px 0 2px 0;
  border-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

tr.action-table-row th {
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}

.action-tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
    font-weight: bold;
}

/* Tooltip text */
.action-tooltip .tooltiptext {
    visibility: hidden;
    text-align: left;
    padding: 8px;
    border-radius: 6px;
     
    font-weight: normal;
    font-size: 11pt;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    /* Border and background info */
    background-color: #ddd;
    opacity: 0.95;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    color: #000;
    
    width: 480px;
    top: 100%;
    left: 50%;
    margin-top: 6px;
    margin-left: -26px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

table.action-table tbody tr th div {
  display: inline-block;
}

.action-tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.action-tooltip:hover .tooltiptext {
    visibility: visible;
}

.outercontainer {
  -webkit-box-shadow: 0px 0px 10px 3px lightgrey;
  -moz-box-shadow: 0px 0px 10px 3px lightgrey;
  box-shadow: 0px 0px 10px 3px lightgrey;
  margin: 50px auto 10px auto;
  padding: 0;
  background-color: #FFFFFF;
  border-width: 0;
  width: 1000px;
}

/* Header */

.outercontainer .header {
  background: #fff;
  color: #000;
  border-bottom: #0159a4 2px solid;
  padding: 20px 30px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-info {
  display: flex;
  flex-direction: row;
  position: relative;
}

.nav-info p {
  padding: 5px;
  color: #0159a4;
  bottom: 0;
  margin-bottom: 0;
}

/* Main Content */

.content {
  padding: 15px 20px 0 20px;
  margin: auto auto;
}

.before-content {
  padding: 0 15px;
}

.before-content .title,
.before-content a {
  color: #0159a4;
}

.before-content p,
.before-content .date-and-range li {
  font-size: 15px;
}

.before-content .title {
  margin-top: 0;
  margin-bottom: 0
}

.before-content p {
  line-height: 1.5;
  margin: 5px 0;
}

.before-content .date-and-range li {
  margin: 8px;
}

.before-content .arrow-right {
  width: 15px;
  height: 13px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: 1px;
}

.content-chart {
  padding: 0 10px;
}

.page-info {
  padding-top: 5px;
  display: flex;
  color: #0159a4;
}

.page-info p {
  padding: 10px 5px 0 5px;
  font-size: 14px;
}

/* Footer */

.outercontainer .footer {
  border-top: #0159a4 2px solid;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
}

.outercontainer .footer p,
.outercontainer .footer svg {
  display: inline-block;
  letter-spacing: 0.5px;
  color: #0159a4;
}

.outercontainer .footer a {
  color: #0159a4;
  text-decoration: none;
}

.arch-systems {
  display: inline-block;
}

.arch-systems svg {
  width: 165px;
  height: 25px;
  padding: 0 5px;
}

.globe,
.mail,
.phone,
.view-data {
  padding: 20px 0 15px 0;
  margin: 0;
}

.contact-info {
  text-align: right;
  display: inline-block;
}

.globe svg,
.mail svg,
.phone svg,
.view-data svg {
  width: 20px;
  height: 20px;
  padding-right: 3px;
  padding-left: 3px;
}

.globe span,
.mail span,
.phone span,
.view-data span {
  width: 23px;
  height: 23px;
  position: relative;
  bottom: 4px;
  padding-right: 15px;
}

/* Print */

@media print {
  .outercontainer {
    -webkit-box-shadow: 0 0 0 0 #fff;
    -moz-box-shadow: 0 0 0 0 #fff;
    box-shadow: 0 0 0 0 #fff;
  }

  .outercontainer .footer {
    position: absolute;
    bottom: 0;
  }
}
